version: '3'
services:
  cvat-server:
    image: lttsadas.azurecr.io/cvat_server:1
#     registry-login-server: lttsadas.azurecr.io
    registry-username: lttsadas
    registry-password: Oed4mAOkftg905BCFoI5jYVepV9KOut+    
    container_name: cvat-server
    environment:
      CVAT_POSTGRES_HOST=DB_HOST
      CVAT_REDIS_HOST=REDIS_HOST
    ports:
        - "8080:8080"

  cvat-ui:
    image: lttsadas.azurecr.io/cvat_ui:1
#     registry-login-server: lttsadas/azurecr.io
    registry-username: lttsadas
    registry-password: Oed4mAOkftg905BCFoI5jYVepV9KOut+     
    container_name: cvat-ui
    ports:
        - "80:80"
